html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}


.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}



.top{
    &__title{
        text-align: center;
        @extend %inter-700;
        font-size: 30px;
        color: $moreblack;
        margin-top: 5px;
    }
}

.breadcrumbs{
    &__list{
        display: flex;
        justify-content: center;
        @extend %roboto-500;
        font-size: 18px;
    }
    &__link{
        color: $moreblack;
    }
    &__item:nth-child(1){
        padding-right: 18px;
        position: relative;
        &::after{
          content: '/';
          position: absolute;
          top: 0px;
          right: 5px;
        }
    }
}