$accent: #E94F26;
$black: #333333;
$moreblack: #242121;
$grey: #F8F8F8;



%roboto-500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%lato-300{
    font-family: 'Lato-Light', sans-serif;
    font-weight: 300;
}

%lato-400{
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

%lato-700{
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
}

